<!DOCTYPE html>
<html>
  <head>
    <title>Confapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="app-sidebar-closed">
<main>
  <header class="app-header">
    <div class="right-menu">
      <nav>
        <ul>
            <li class="help"><a target="_blank" href="https://fusionauth.io/docs/"><i class="fa fa-question-circle-o"></i> Help</a></li>
        </ul>
      </nav>
    </div>
  </header>


<main class="page-body container">
  <div class="row center">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">
<div class="panel">
<p>
<% if session[:user_jwt].nil? %>
<%= link_to "register", register_path %> | <%= link_to "login", login_path %>
<% else %>
<%= link_to "logout", logout_path %>
<% end %>
</div>

<div class="panel">
  <main>
<%= yield %>
  </main>
</div>
</div>
</div>

<div class="row center">
  <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
  </div>
</div>

</main>

</html>


